{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

{% for path in page_paths %}
    
    {% assign page = site.pages | where: "path", path | first %}
    
    {% if page.title %}
        <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    {% endif %}

    
{% endfor %}

<a href="{{ site.baseurl }}/people">人物</a>
<a href="{{ site.baseurl }}/views">风景</a>
<a href="{{ site.baseurl }}/animals">动物</a>
<a href="{{ site.baseurl }}/foods">美食</a>